{% extends "layout.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="form-login text-center">
        <form action="{% url 'login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
            {% csrf_token %}
            <div class="text-start">
                <label for="{{ form.username.id_for_label }}" class="visually-hidden">Имя пользователя</label>
                <input type="text" name="{{ form.username.html_name }}" class="form-control" id="{{ form.username.id_for_label }}" placeholder="Имя пользователя">
            </div>
            <div class="mb-1 text-start">
                <label for="{{ form.password.id_for_label }}" class="visually-hidden">Пароль</label>
                <input type="password" name="{{ form.password.html_name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="Пароль">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
{% endblock %}
