<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if plant.thumbnail %}
                <img src="{{ plant.thumbnail.url }}" alt="{{ plant.name }} image" width="100%">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ plant.name }}</h5>
                {% if plant.name_lat %}
                <small class="text-muted">Лат. {{ plant.name_lat }}</small><br>
                {% endif %}
                {% if plant.name_en %}
                <small class="text-muted">Англ. {{ plant.name_en }}</small><br>
                {% endif %}
                <small class="text-muted">Добавлено: {{ plant.created_at|date:"Y-m-d в H:m" }}{% if plant.user %} ({{ plant.user }}){% endif %}</small>
                {% if user.is_authenticated %}
                    <p><a href="{% url 'plants:detail' plant.id %}" class="card-link">Подробнее</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>