<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if plant.thumbnail %}
                <img src="{{ plant.thumbnail.url }}" alt="{{ plant.name }} image" width="100%">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ plant.name }}</h5>
                <small class="text-muted">{{ plant.name_alt }}, {{ plant.name_en }}</small>
                <p class="card-text"><small class="text-muted">Дней до начала цветения: {{ plant.until }}</small></p>
                <a href="{% url 'plants:detail' plant.id %}" class="card-link">Подробнее</a>
            </div>
        </div>
    </div>
</div>