{% extends 'layout.html' %}

{% block title %}{{ plant.name }}{% endblock %}

{% block content %}
    <div class="container pt-3">
        {% if messages %}
            <div class="row">
                <div class="col">
                    {% for message in success_messages %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <h1>{{ plant.name }}{% if plant.name_alt %} <span class="small text-muted">({{ plant.name_alt }}){% endif %}</span></h1>
                {% if plant.name_lat %}<h5 class="small text-muted">Лат. {{ plant.name_lat }}</h5>{% endif %}
                {% if plant.name_en %}<h5 class="small text-muted">Англ. {{ plant.name_en }}</h5>{% endif %}
                {% if plant.wikipedia_url or plant.plantnet_url or gbif_id %}
                    <h5 class="small text-muted">
                        Ссылки:
                        {% if plant.wikipedia_url %}
                            <a href="{{ plant.wikipedia_url }}" target="_blank">Wikipedia</a>
                        {% endif %}
                        {% if plant.plantnet_url %}
                            <a href="#">Pl@ntNet</a>
                        {% endif %}
                        {% if plant.gbif_id %}
                            <a href="#">GBIF</a>
                        {% endif %}
                    </h5>
                {% endif %}
                <h5 class="text-muted small">Действия: <a href="{% url 'admin:plants_plant_change' plant.pk %}" class="small" target="_blank">Редактировать в админке</a>
                                    {# <a href="{% url 'plants:update' plant.pk %}" class="small disabled">Редактировать</a> #}

                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if plant.benefit %}
                <h4>Польза</h4>
                <p class="text-success">
                    {{ plant.benefit }}
                </p>
                {% endif %}
            </div>
            <div class="col">
                {% if plant.harm %}
                <h4>Вред</h4>
                <p class="text-danger">
                    {{ plant.harm }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                {% if plant.where %}<p><b>Где</b>: {{ plant.where }}</p>{% endif %}
                {% if plant.when %}<p><b>Когда</b>: {{ plant.when }}</p>{% endif %}
                {% if plant.how %}<p><b>Как заготавливать</b>: {{ plant.how }}</p>{% endif %}
            </div>
            {% if plant.images.all.count > 0 %}
            <div class="col-4">
                <img src="{{ plant.images.all.0.image.url }}" alt="" width="100%" class="rounded">
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {% if plant.comment %}
                <h2>Примечания</h2>
                <p>{{ plant.comment }}</p>
                {% endif %}
                {% if plant.history %}
                <h2>История</h2>
                <p>{{ plant.history }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
