{% extends 'layout.html' %}

{% block title %}{{ plant.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ plant.name }}</h1>
                <h5 class="text-muted">
                    {% if plant.name_alt %} {{ plant.name_alt }}{% endif %}{% if plant.name_en %}, {{ plant.name_en }}{% endif %}</h5>
                <p>{% if plant.wikipedia_url %}<a href="{{ plant.wikipedia_url }}" target="_blank">Wikipedia</a>{% endif %}
                   {% if plant.plantnet_url %} <a href="#">Pl@ntNet</a> {% endif %}
                   {% if plant.gbif_id %} <a href="#">GBIF</a>{% endif %}
                </p>
{#                {% if user.is_authenticated %}#}
{#                    <a href="{% url 'plants:update' plant.pk %}" class="small">Редактировать</a>#}
{#                {% endif %}#}
                {% if user.is_staff or user.is_superuser %}
                    <a href="{% url 'admin:plants_plant_change' plant.pk %}" class="small">Редактировать в админке</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if plant.benefit %}
                <h4>Польза</h4>
                <p class="text-success">
                    {{ plant.benefit }}
                </p>
                {% endif %}
            </div>
            <div class="col">
                {% if plant.harm %}
                <h4>Вред</h4>
                <p class="text-danger">
                    {{ plant.harm }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-8">
                {% if plant.where %}<p><b>Где</b>: {{ plant.where }}</p>{% endif %}
                {% if plant.when %}<p><b>Когда</b>: {{ plant.when }}</p>{% endif %}
                {% if plant.how %}<p><b>Как заготавливать</b>: {{ plant.how }}</p>{% endif %}
            </div>
            {% if plant.images.all.count > 0 %}
            <div class="col-4">
                <img src="{{ plant.images.all.0.image.url }}" alt="" width="100%" class="rounded">
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                {% if plant.comment %}
                <h2>Примечания</h2>
                <p>{{ plant.comment }}</p>
                {% endif %}
                {% if plant.history %}
                <h2>История</h2>
                <p>{{ plant.history }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
